.comp-one {

	.filter {
		margin: 1rem 0;

		div {
			&.show-checked {
				font: {
					style: normal;
					weight: 400;
					stretch: normal;
					size: 13.3333px;
					family: Arial;
				}
			}
		}
	}

	.list {
		clear: both;
		text-align: left;

		.list-item {
			padding: .25rem 0;

			&:hover {
				background-color: #ebebe0;
			}

			p {
				display: inline;
				padding-left: 1rem;
			}

			.delete {
				color: red;
				float: right;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}

	.form {
		margin: 1rem 0;
		clear: both;

		button {
			margin-left: 1rem;
		}
	}
}